{% extends 'base.html' %}
{% load crispy_forms_tags %} 
{% block title %}Workout: {{workout}}{% endblock title %}
{% block content %}
{% load django_htmx %}
{% django_htmx_script %}

<div class="container mb-2 bg-primary h-100">
    <button class="btn btn-secondary rounded my-2 my-3" type="button" hx-target="#instance-form" hx-get={% url 'add-instance' pk=workout.pk %}>
        Add Exercise
    </button>

    <div id="instance-form"></div>
    <div class="row">
        <div class="col">
                <div hx-get="{% url 'load-list' pk=workout.pk %}" hx-target='#exercises' hx-trigger="load"></div>
                <div id="exercises"></div>
        </div>
    </div>
</div>


{% endblock content %}

