{% extends 'base.html' %}
{% block title %}
User Workouts
{% endblock title %}
{% block content %}

<div class="container flex-center bg-primary">

    <form>
        <input type="text" id="input" class="form-control" name='search' hx-trigger="keyup, delay:500ms" hx-swap="innerHTML" hx-target="#search-list" hx-post={% url 'search-workout' %}>
    </form>

    <form method="post">
    {% csrf_token %}
        <button class="btn btn-primary my-2 border rounded" type="submit">New Workout</button>
    </form>

    <div id="search-list"></div>
    
    <br>
    <br>
    <br>
    {% comment %} {% include 'workouts/partials/workout_list.html' %} {% endcomment %}

    <br>
    <br>
    <br>
    <br>
    <div style="background:red;">
        <form action="">
            {{form.as_p}}
        </form>
    </div>


    <h2>Types</h2>
        {% for type in types %}
            <p>Type: {{type}}</p>
        {% endfor %} 
    <h2>Exercises</h2>
        {% for exercise in exercises %}
            <p>Exercise: {{exercise}}</p>
        {% endfor %} 
    <h2>Tags</h2>
        {% for tag in tags %}
            <p>Tag: {{tag}}</p>
        {% endfor %} 


</div>

<style>
    .container{
        min-height: 1vh;
    }
</style>
{% endblock content %}