{% if exercises %}
    <table class="table table-bordered table-striped table-hover pb-2">
        <thead>
            <tr>
                <th colspan="6" class="">
                    <div class="d-flex justify-content-between">
                        {{workout}}
                        <a hx-post="" hx-target="#instance-form"><i class="fas fa-edit"></i></a>  
                    </div>
                </th>
            </tr>
            <tr>
                <th colspan="2">Exercise</th>
                <th>Duration</th>
                <th>Weight</th>
                <th>Sets</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody id="table-body">
            {% for exercise in exercises %}
                <tr id="exercise{{exercise.pk}}" >
                    <td colspan="2">{{exercise.exercise}}</td>
                    <td>{{exercise.get_duration}}</td>
                    <td>{{exercise.get_weight}}</td>
                    <td>{{exercise.get_sets}}</td>
                    <td class="row m-0">
                        <div class="col-9 p-0">
                            {{exercise.get_comments}}
                        </div>
                       <div class="col-3 p-0 d-flex justify-content-around">
                            <a hx-get={% url 'edit-instance' exercise.pk %} hx-post={% url 'edit-instance' exercise.pk %} hx-target="#instance-form"><i class="fas fa-edit"></i></a>
                            <a hx-confirm="Are you sure you want to delete this exercise?" hx-delete={% url 'delete-instance' exercise.pk %}><i class="fas fa-trash-alt" hx-target="exercise{{exercise.pk}}" hx-swap="outerHTML"></i></a>
                        </div> 
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            {% if workout.has_exercises %}
            <tr>
                <th>Total volume</th>
                <td></td>
                <th>Total duration</th>
                <td></td>
                <th>Total sets</th>
                <td></td>
            </tr>
            {% else %}
                <tr></tr>
            {% endif %}
        </tfoot>
    </table>
{% endif %}

{% comment %} <i class="fas fa-plus"></i> {% endcomment %}
