{% if page_obj %}
    {% for workout in page_obj %}
        <table id="workout{{workout.pk}}" class="table table-bordered table-striped table-hover pb-2">
            <thead>
                <tr>
                    <th colspan="6">
                        <div class="d-flex justify-content-between">
                            <a class="workout-url" href={{workout.get_absolute_url}}>{{workout}}</a>
                            <a hx-confirm="Are you sure you want to delete this exercise?" hx-delete={% url 'delete-workout' pk=workout.pk %}><i class="fas fa-trash-alt" hx-target="workout{{workout.pk}}"></i></a>
                        </div>
                    </th>
                </tr>
                {% if workout.has_exercises %}
                    <tr>
                        <th colspan="2">Exercise</th>
                        <th>Duration</th>
                        <th>Weight</th>
                        <th>Sets</th>
                        <th>Comments</th>
                    </tr>
                {% else %}
                <tr>

                </tr>
                {% endif %}
            </thead>
            <tbody>
                {% if workout.has_exercises %}
                    {% for exercise in workout.exercises.all %}
                    <tr>
                        <td colspan="2">{{exercise.exercise}}</td>
                        <td>{{exercise.get_duration}}</td>
                        <td>{{exercise.get_weight}}</td>
                        <td>{{exercise.get_sets}}</td>
                        <td>{{exercise.get_comments}}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                    </tr>
                {% endif %}
            </tbody>
            <tfoot>
                {% if workout.has_exercises %}
                <tr>
                    <th>Total volume</th>
                    <td></td>
                    <th>Total duration</th>
                    <td></td>
                    <th>Total sets</th>
                    <td></td>
                </tr>
                {% else %}
                    <tr></tr>
                {% endif %}
            </tfoot>
        </table>

    {% endfor %}


{% endif %}

   
    <div id="modals"></div>


