{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
<div class="container">
    <h1>HOME</h1>
    {% if request.user.is_authenticated %}
    <h2>Hi {{request.user}}</h2>
    <a href={% url 'profile' %}>Profile</a>
    <a href={% url 'update-profile' %}>Update Profile</a>
    <a href={% url 'update-password' %}>Update Password</a>
    <a href={% url 'logout' %}>Log Out</a>
    {% else %}
    <a href={% url 'login' %}>Log In</a>
    <a href={% url 'registration' %}>Sign Up</a>

    {% endif %}
</div>



<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown link
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
{% endblock content %}