<div class="container">
    <div class="navbar-nav">
        <ul class="nav nav-justified nav-tabs">
            <li class="nav-item">
                <a href="{% url 'home' %}" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'profile' %}" class="nav-link">Profile</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'workouts' %}" class="nav-link">Workouts</a>
            </li>
        </ul>
    </div>
</div>